.sloth-bg{ 
    background-image: url('https://i.pinimg.com/originals/2d/f3/66/2df366d272dea4f06170db6d4f897e7d.png');
    height: 95%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}