<div class="container">
    <div class="row">
        <p class="mx-auto my-5">Pagina 3 - Non so cosa metterci
        </p>
    </div>
    <div class="row" style="bottom: 0;">
        <div class="mx-auto">
            <button mat-raised-button [routerLink]="RoutingEnum.Page2" class="mx-2">
                <mat-icon class="mat-icon-rtl-mirror">chevron_left</mat-icon>
            </button>
            <button mat-raised-button [routerLink]="RoutingEnum.Page1" class="mx-2">
                <mat-icon class="mat-icon-rtl-mirror">chevron_right</mat-icon>
            </button>
        </div>
    </div>
</div>