<mat-drawer-container class="w-100 h-95" autosize>

    <router-outlet></router-outlet>

    <mat-drawer #drawer class="p-5" mode="side" position="end">
        <button mat-icon-button (click)="drawer.toggle()" class="position-absolute top-0 right-0 m-2">
            <mat-icon>close</mat-icon>
        </button>

        <h4><strong class="position-absolute top-0 left-0 m-3">LOP History</strong></h4>


        <h3><strong>Assistere Unicredit nell'implementazione PSD2</strong></h3>
        <h3>20/BEC/UCG/UCG/MI/SA091</h3>

        <h3 class="c-bg-clicine c-purple rounded-pill px-3">LOP to be reviewed after request of the Customer on already
            signed LOP</h3>

        <div class="my-3" *ngFor="let step of steps; last as last;">
            <app-vertical-step [title]="step.title" [rows]="step.rows" [last]="last"></app-vertical-step>
        </div>


    </mat-drawer>
</mat-drawer-container>