/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'styles/app-images.scss';
@import 'styles/app-colors.scss';
@import 'styles/app-text.scss';
@import 'styles/app-sizing.scss';

.no-line-style{ list-style: none; }

.top-0 { top: 0; }
.right-0 { right: 0; }
.bottom-0 { bottom: 0; }
.left-0 { left: 0; }